{% extends 'movies/base.html' %}

{% block content %}
    {% if movies %}
        <h1>Editar</h1>
        <form action="{% url 'movies:atualizar' pk=movies.id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}</br>
            {% endfor %}
        </br>
            <button type="submit">Salvar Edição</button>
        </form>
        </br>
    {% else %}
        <h1>Cadastrar Filme</h1>
        <form action="{% url 'movies:criar' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}</br>
            {% endfor %}
        </br>
            <button type="submit">Cadastrar</button>
        </form>
        </br>
    {% endif %}

    <button><a href="{% url 'movies:index' %}">Voltar para a home</a></button>
{% endblock content %}