{% extends 'movies/base.html' %}

{% block content %}

    <h1 class="buscar-title">Pesquise pelo título do filme:</h1>
            
    {% if message %}
        <p class="buscar-message">{{ message }}</p>
    {% endif %}

    <form method="post" class="buscar-form">
        {% csrf_token %}
        <div class="buscar-form-field">
            <p class="buscar-form-label">{{ form.Title }}</p>
        </div>
        <button type="submit" class="buscar-form-button">Buscar e cadastrar</button>
    </form>

    {% if form.instance.Rated %}
        <div class="movie-info">
            <h2 class="movie-info-title">{{ form.instance.Title }}</h2>
            <p class="movie-info-detail"><strong>Classificação de idade:</strong> {{ form.instance.Rated }}</p>
            <p class="movie-info-detail"><strong>Data de lançamento:</strong> {{ form.instance.Released }}</p>
            <p class="movie-info-detail"><strong>Categoria:</strong> {{ form.instance.Genre }}</p>
            <p class="movie-info-detail"><strong>Diretor:</strong> {{ form.instance.Director }}</p>
            <p class="movie-info-detail"><strong>Atores:</strong> {{ form.instance.Actors }}</p>
            <p class="movie-info-detail"><strong>Escritores:</strong> {{ form.instance.Writer }}</p>
            <p class="movie-info-detail"><strong>Sinopse:</strong> {{ form.instance.Plot }}</p>
            <p class="movie-info-detail"><strong>Prêmios:</strong> {{ form.instance.Awards }}</p>
            <p class="movie-info-detail"><strong>Rating do IMDB:</strong> {{ form.instance.imdbRating }}</p>
            <p class="movie-info-detail"><strong>Tipo:</strong> {{ form.instance.Type }}</p>
            <div class="movie-info-poster">
                {% if form.instance.Poster != "N/A" %}
                    <img class="movie-info-image" src="{{form.instance.Poster}}" alt="{{form.instance.Title}}" />
                {% else %}
                    <img class="movie-info-image" src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" alt="Imagem não encontrada" />
                {% endif %}
            </div>
        </div>
        <p><a class="buscar-link" id="tres_doidos" href="{% url 'movies:buscar' %}">Pesquisar outro filme</a></p>
    {% endif %}

    <p><a class="buscar-link" id="tres_doidos" href="{% url 'movies:criar' %}">Criar seu próprio filme</a></p>        
    <p><a class="buscar-link" id="tres_doidos" href="{% url 'movies:listar' %}">Listar filmes cadastrados</a></p>

{% endblock content %}