<header>
    <div class="header-logo">
        <h2 class="h2header"><img src="https://logos.flamingtext.com/Name-Logos/Movies-design-amped-name.png" alt="logo"/></h2>
    </div>

    <nav>
        <ul>
            <li><a href="{% url 'movies:index' %}">home</a></li>
            <li><a href="{% url 'movies:buscar' %}">Pesquisar filmes</a></li>
            <li><a href="{% url 'movies:listar' %}">Listar Filmes</a></li>
            <li><a href="{% url 'movies:criar' %}">Cadastrar Filme</a></li>
        </ul>
    </nav>
</header>